# Ігноруємо віртуальне оточення
.venv/
venv/

# Ігноруємо налаштування середовища розробки (PyCharm / VS Code)
.idea/
.vscode/

# Ігноруємо важкі моделі ШІ
models/
*.gguf

# Тимчасові файли аудіо та кешу Python
__pycache__/
*.wav
*.mp3
/input/
